

  <body ng-app="loginModule" ng-controller="loginController" ng-cloak> 

  <div id="page" class="container"> 
  <div class="containerSignup">  
  
 <!-- SIGNUP FORM --> 
 
      <div class="containerSignupHeader">
        <span class="SignupTitleheader">Thanks for signing up! <br/><span/>
        <span>please check you email </span>
        <br/><br/>
          <a href="/" type="submit" class="btn btn-info btn-lg ">sign in !</a>
      </div>
      
      <div class="row">
        <!-- N A M E -->
        <!-- checking whether the form "signup" with the "name" property is both $invalid AND $dirty.  If it is
        insert the "has-error" class on the input field (i.e. insert a red border around the input field)--> 
        <!-- Title-->
	</div>
      <input type="hidden" name="_csrf" value="<%= _csrf %>" />
 </div>
  </div>


